[Desktop Entry]
Name=Theme Configuration
GenericName=Theme Configuration
Comment=Configure GTK theme colors
Exec=gtk-theme-config
Terminal=false
Type=Application
Icon=gtk-theme-config
Categories=GNOME;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=color;gtk;highlight;theme;widget;
